# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from sklearn.model_selection import train_test_split

# Load the csv

In [2]:
df = pd.read_csv('../Markus/processed_dataframe.csv')

In [3]:
df.head()

,loan_type,loan_amount,action_taken,occupancy_type,census_tract,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,...,open_end_line_of_credit,manufactured_home_land_property_interest,total_loan_costs,total_points_and_fees,prepayment_penalty_term,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,multifamily_affordable_units
0,2,115000,3,1,9003416400,2,5,3,0,8,...,2,5,0,0,0,2,2,2,2,0
1,1,345000,2,1,42017102401,2,2,6,0,6,...,2,5,0,0,0,2,2,2,2,0
2,2,225000,5,1,34039034300,1,1,5,0,5,...,2,5,0,0,0,2,2,2,2,0
3,2,125000,5,1,42055011302,2,5,5,0,8,...,2,5,0,0,0,2,2,2,2,0
4,1,125000,5,1,30111000702,2,5,5,0,8,...,2,5,0,0,0,2,2,2,2,0

In [ ]:
# https://ffiec.cfpb.gov/documentation/publications/loan-level-datasets/lar-data-fields